html {
  color-scheme: dark;
}

body {
  background: #292c41;
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

.container {
  text-align: center;
  position: relative;
  top: 50px;
}

#container-one {
  position: relative;
  /* width: 1200px;
  height: 300px; */
  margin: 240px auto;
}

#container-one .box {
  position: relative;
  left: 300px;
  width: 370px;
  height: 270px;
  background: red;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
}

/* Trying to make my boxes hover */
.box .game-button {
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.1);
}

.game-button:hover {
  transform: scale(1.2);
}

.game-button {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  padding: 45px 45px;
  background-color: red;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 25px;
}

#lyrics {
  text-align: center;
  position: relative;
  color: orange;
  top: 90px;
}

.table-container {
  position: relative;
  max-width: 100%;
  /* overflow: auto; */
}

h1 {
  text-align: center;
}

p {
  left: 0px;
  top: -30px;
  position: relative;
}
table {
  text-align: left;
  width: 100%;
  background: #323232;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}
th {
  text-align: left;
  background-color: hsl(0 0% 0% / 0.5);
}
tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}
